#socials {
    text-align: center;
    color: var(--text);
    background-color: var(--background02);
    box-shadow: var(--background01) 3px 3px 6px 0px inset, var(--background01) -3px -3px 6px 1px inset;
}

.socials-header p {
    font-size: 1.2rem;
    color: var(--text-dim);
    margin-bottom: 2rem;
}

.socials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem;
    max-width: 800px;
    margin: auto;
}

.social-column {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--accent01);
    border-radius: 8px;
    overflow: hidden;
    margin: 0 0.05rem;
}

.social-name {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-size: xx-large;
}

.social-item {
    padding: 1rem;
    text-align: center;
    font-size: large;
}